.App {
    background-attachment: fixed; 
    background-position: center; 
    background-color: #fafafa;
    opacity: 0.9;
    padding-top: 4rem; 
    min-height: 100vh;
}

/* .navbar {
    background-color: #ef5350 !important
} */